<section class="barraNavegacion">
    <b class="subtitulo letra">SITIO EN CONSTRUCCION.</b>
    <b class="letra">DISCULPE LAS MOLESTIAS</b>

</section>


<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a [routerLink]="['/']"><h3 class="text-white h4">CATEGORIAS</h3></a>
      <a [routerLink]="['/']"><h5 class="letra categorias">DESTACADOS</h5></a>
      <a [routerLink]="['/electrodomesticos']"><h5 class="letra categorias">ELECTRODOMESTICOS</h5></a>
      <a [routerLink]="['/cuidadoPersonal']"><h5 class="letra categorias">CUIDADO PERSONAL</h5></a>
      <a [routerLink]="['/herramientas']"><h5 class="letra categorias">HERRAMIENTAS</h5></a>
      <a [routerLink]="['/banosYCocinas']"><h5 class="letra categorias">BAÑOS Y COCINAS</h5></a>
      <a [routerLink]="['/organizadores']"><h5 class="letra categorias">ORGANIZADORES</h5></a>
      <a [routerLink]="['/usados']"><h5 class="letra categorias">USADOS</h5></a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid barraMenu">
    <div class="espacio-central-barra">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h5 class="letra pregunta">¿Que estas buscando?</h5>
      <div>

        <a href="https://www.instagram.com/milkohogar/" class="pie"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61554491776891" class="pie"><i class="fab fa-facebook-square"></i></a>    
       </div>
    </div>  
    </div>
    
  </nav>