<section class="barraNavegacion">
    <b class="subtitulo letra">SITIO EN CONSTRUCCION.</b>
    <b class="letra">DISCULPE LAS MOLESTIAS</b>

</section>


<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a [routerLink]="['/']"><h3 class="text-white h4">CATEGORIAS</h3></a>
      <a [routerLink]="['/']"><h5 class="letra categorias" (click)="closeMenu()">DESTACADOS</h5></a>
      <a [routerLink]="['/electrodomesticos']"><h5 class="letra categorias" (click)="closeMenu()">ELECTRODOMESTICOS</h5></a>
      <a [routerLink]="['/muebles']"><h5 class="letra categorias" (click)="closeMenu()">MUEBLES</h5></a>
      <a [routerLink]="['/cuidadoPersonal']"><h5 class="letra categorias" (click)="closeMenu()">CUIDADO PERSONAL</h5></a>
      <a [routerLink]="['/herramientas']"><h5 class="letra categorias" (click)="closeMenu()">HERRAMIENTAS</h5></a>
      <a [routerLink]="['/banosYCocinas']"><h5 class="letra categorias" (click)="closeMenu()">BAÑOS Y COCINAS</h5></a>
      <a [routerLink]="['/organizadores']"><h5 class="letra categorias" (click)="closeMenu()">ORGANIZADORES</h5></a>
      <a [routerLink]="['/usados']"><h5 class="letra categorias" (click)="closeMenu()">USADOS</h5></a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid barraMenu">
    <div class="espacio-central-barra">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" #menuButton>
        <span class="navbar-toggler-icon"></span>
      </button>
      <h5 class="letra pregunta">¿Que estas buscando?</h5>
      <div>

        <a href="https://www.instagram.com/milkohogar/" class="pie"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61554491776891" class="pie"><i class="fab fa-facebook-square"></i></a>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="pie"><i class="fab fa-whatsapp"></i></a>
          
       </div>
    </div>  
    </div>
    
  </nav>