.barraNavegacion{
    background-color: grey;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categorias{
    margin-left: 3em;
}

.categorias:hover{
    margin-left: 8em;
    color: greenyellow;
}

.barraMenu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.espacio-central-barra{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}