<div class="square">
  <div class="oferta"><h5><b>OFERTAS DESTACADAS !!</b></h5></div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img class="producto" src="../assets/image/CalefactorProtalia.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>
            <h1 class="letra">$85.000</h1>
            <h2 class="letra">Calefactor PROTALIA 2000W</h2>
            <h5>.</h5>
          </div>
          <div class="carousel-item text-center">
            <img class="producto" src="../assets/image/secador1.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>              
            <h1 class="letra">$30.000</h1>
            <h2 class="letra">Secador de Pelo REVLON</h2>
                <h5>.</h5>
          </div>
          <div class="carousel-item text-center">
            <img class="producto" src="../assets/image/CalefactorEmege.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>              
            <h1 class="letra">$185.000</h1>
            <h2 class="letra">Calefactor EMEGE 3500 TB</h2>
                <h5>.</h5>
          </div>
          <div class="carousel-item text-center">
            <img class="producto" src="../assets/image/aspiradoraAuto1.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>
            <h1 class="letra">$15.000</h1>
            <h2 class="letra">Aspiradora de auto 12V</h2>
                <h5>.</h5>
          </div>
          <div class="carousel-item text-center">
            <img class="producto" src="../assets/image/CaloventorProtalia.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>
            <h1 class="letra">$22.000</h1>
            <h2 class="letra">Caloventor PROTALIA 2000W</h2>
                <h5>.</h5>
          </div>
          <div class="carousel-item text-center">
            <img class="producto" src="../assets/image/CalefactorEskabe.jpeg">
            <div class="carousel-caption d-none d-md-block">

            </div>
            <h1 class="letra">$215.000</h1>
            <h2 class="letra">Calefactor ESKABE 8000 SS</h2>
                <h5>.</h5>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>