.square{
    width: 80vw;
    height: 65vh;
    border: 3px solid gray;

}
.square:hover{
    border: 5px solid greenyellow;
}
.producto{
    border: 5px solid greenyellow;
    height: 35vh;
    margin: 3em;
}
@media (max-width : 768px) {
    
    .producto {
        height: 20vh;
    }
    .square{
        height: 50vh;
    
    }
  }
  .oferta{
    color: black;
    background-color: yellow;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 1em 0;
  }
/*--------------------------*/

.novedades-container {
  background-color: #000;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.carousel {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23rem;
}

.carousel-inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
}

.carousel-item {
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    min-height: 420px; /* espacio mínimo para todo el contenido */
  }

.carousel-item img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 0.5rem;
  background-color: #333;
  transition: transform 0.4s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

.precio {
    color: #00ff99;
    font-size: 1.8rem;
    margin-top: auto;
    font-weight: bold;
    transition: color 0.3s;
  }

.precio:hover {
  color: #33ffcc;
}

.nombre {
    color: #ccc;
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 1rem;
    line-height: 1.4;
    word-break: break-word;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}


/* Opcional: mayor separación entre contenido y controles */
.carousel-control-prev,
.carousel-control-next {
  top: 500%;
  transform: translateY(-50%);
}
/* Responsive ajuste altura mínima */
@media (max-width: 768px) {
  .carousel-item img {
    max-height: 200px;
  }
  .carousel-item {
    min-height: 350px;
  }

  .precio {
    font-size: 1.4rem;
  }

  .nombre {
    font-size: 1rem;
  }
  .carousel {
    width: 20rem;
  }
}
