.square{
    width: 80vw;
    height: 65vh;
    border: 3px solid gray;

}
.square:hover{
    border: 5px solid greenyellow;
}
.producto{
    border: 5px solid greenyellow;
    height: 35vh;
    margin: 3em;
}
@media (max-width : 768px) {
    
    .producto {
        height: 20vh;
    }
    .square{
        height: 50vh;
    
    }
  }
  .oferta{
    color: black;
    background-color: yellow;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 1em 0;
  }