<div class="novedades-container">
  <div class="text-center mb-4">
    <h2 class="text-light fw-bold">Novedades y Promos</h2>
    <p class="text-secondary">Productos elegidos especialmente para vos</p>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="hover">

    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <img src="../assets/image/CalefactorProtalia.jpeg" alt="Calefactor">
        <h4 class="precio">$99.000</h4>
        <h5 class="nombre">Calefactor PROTALIA 2000W</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>

      <div class="carousel-item text-center">
        <img src="../assets/image/escritorio1.jpeg" alt="Escritorio">
        <h4 class="precio">$59.000</h4>
        <h5 class="nombre">Escritorio</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>

      <div class="carousel-item text-center">
        <img src="../assets/image/pizza.jpeg" alt="Piedra para pizza">
        <h4 class="precio">$39.000</h4>
        <h5 class="nombre">Piedra para pizza + espátula y cortador</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>

      <div class="carousel-item text-center">
        <img src="../assets/image/aspiradoraAuto1.jpeg" alt="Aspiradora auto">
        <h4 class="precio">$29.000</h4>
        <h5 class="nombre">Aspiradora de auto 12V</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>

      <div class="carousel-item text-center">
        <img src="../assets/image/CaloventorProtalia.jpeg" alt="Caloventor">
        <h4 class="precio">$39.000</h4>
        <h5 class="nombre">Caloventor PROTALIA 2000W</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>

      <div class="carousel-item text-center">
        <img src="../assets/image/CalefactorEskabe.jpeg" alt="Calefactor Eskabe">
        <h4 class="precio">$249.000</h4>
        <h5 class="nombre">Calefactor ESKABE 8000 SS</h5>
        <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>

      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
