<section class="vistas">
    <div class="container mt-5">
        <div class="row">

            <div class="col-12 col-md-4 mx-auto mb-4">

        <div class="card">
            <img src="../assets/image/escritorio1.jpeg" class="card-img-top" alt="Imagen del producto">
            <div class="card-body">
                <h5 class="producto card-title">Escritorio</h5>
                <p class="producto card-text ">Esritorio Roble</p>
                <h4 class="precio">$59.000</h4>
                <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>
            </div>
        </div>
            </div>

        <div class="col-12 col-md-4 mb-4">

        <div class="card">
            <img src="../assets/image/escritorio3.jpeg" class="card-img-top" alt="Imagen del producto">
            <div class="card-body">
                <h5 class="producto card-title">Esritorio</h5>
                <p class="producto card-text">Escritorio con cajon blanco</p>
                <h4 class="precio">$59.000</h4>
                <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>
            </div>
        </div>
        </div>

        <div class="col-12 col-md-4 mb-4">

            <div class="card">
                <img src="../assets/image/mesaSillon.jpeg" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="producto card-title">Organizador de sillon</h5>
                    <p class="producto card-text ">Organizador de sillon</p>
                    <h4 class="precio">$19.000</h4>
                    <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>
                </div>
            </div>
                </div>
      
       


        <div class="col-12 col-md-4 mb-4">

            <div class="card">
                <img src="../assets/image/banquito.jpeg" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="producto card-title">Banquito para niños</h5>
                    <p class="producto card-text ">Banquito para niños</p>
                    <h4 class="precio">$19.000</h4>
                    <a href="https://wa.me/5491157684144?text=Hola%20quiero%20más%20información" class="btn btn-custom botonComprar">Comprar</a>
                </div>
            </div>
                </div>
    
        
        
         </div>

    </div>
</section>