.fondoLogo{
    background-color: #2f3338;
    width: 100vw;
    height: 50vh;

}
.logo{
    width: 20em;
    height: 20em;
    position: relative;
    margin-top: 8em;
    top: -4em;
}
.contenedorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitulo{
    position: relative;
    right: 20em;
}